.card {
  padding: 0;
  overflow: hidden;
  width: 451px;
  border-radius: 0;
  border: none;
  box-shadow:
    0 1px 2px -2px rgba(0, 0, 0, 0.16),
    0 3px 6px 0 rgba(0, 0, 0, 0.12),
    0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.card-title {
  margin: 0;
  margin-bottom: 0;
  max-width: 90%;
}
.card_body {
  padding: 10px 20px 0 20px;
  gap: 7px;
}
.pic-container {
  min-width: 185px;
  min-height: 281px;
  display: flex;
  position: relative;
}
img:before {
  content: ' ';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(230, 230, 230);
}

img:after {
  content: 'No poster';
  display: block;
  font-size: 16px;
  color: rgb(100, 100, 100);
  position: absolute;
  width: 100%;
  text-align: center;
}

.rating-circle {
  border: 2px solid;
  border-radius: 50%;
  position: absolute;
  right: 7px;
  top: 7px;
  font-size: 12px;
  padding: 6px 6px;
}

.red {
  border-color: #e90000;
}
.orange {
  border-color: #e97e00;
}
.yellow {
  border-color: #e9d100;
}
.green {
  border-color: #66e900;
}

.genres-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.genre-name code {
  margin: 0;
}

.card-container {
  align-items: stretch;
}

.description-container {
  justify-content: space-between;
  flex: 1;
}

.release-date {
  color: #827e7e;
  font-size: 12px;
}
.mobile {
  display: none;
}

@media (max-width: 420px) {
  .card-container {
    padding: 6px 10px;
    width: 388px;
    height: 245px;
  }
  .card_body {
    padding: 0 20px 19px 13px;
    gap: 7px;
  }
  .poster {
    max-width: 60px;
    max-height: 91px;
  }

  .pic-container {
    display: inline;
    min-width: 60px;
    min-height: 91px;
  }
  img:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 60px;
    height: 91px;
    background-color: rgb(230, 230, 230);
  }

  img:after {
    content: 'No poster';
    display: block;
    font-size: 16px;
    color: rgb(100, 100, 100);
    position: absolute;
    text-align: center;
  }
  .description-container {
    display: none;
  }
  .mobile {
    display: flex;
  }
}
