body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wrapper {
  width: 1010px;
  background-color: white;
  margin: auto;
  padding: 24px;
}

.spinner-container {
  padding: 20%;
}
.spinner {
  display: block;
}

.pagination-wrapper {
  display: flex;
  margin-top: 36px;
}
.pagination {
  margin: auto;
}

.rating_container {
  font-size: 16px;
  margin-left: 20px;
  padding-bottom: 10px;
}
